boto3==1.15.11
botocore==1.18.11
certifi==2020.6.20
chardet==3.0.4
cycler==0.10.0
decorator==4.4.2
gensim==3.8.3
idna==2.10
jmespath==0.10.0
joblib==0.17.0
kiwisolver==1.2.0
matplotlib==3.3.2
networkx==2.5
numpy==1.19.2
Pillow==7.2.0
pyparsing==2.4.7
PyQt5==5.15.1
PyQt5-sip==12.8.1
python-dateutil==2.8.1
requests==2.24.0
s3transfer==0.3.3
scikit-learn==0.23.2
scipy==1.5.2
six==1.15.0
sklearn==0.0
smart-open==2.2.1
threadpoolctl==2.1.0
urllib3==1.25.10
